

.background-blue{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #313551;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.background-blue h1 {
    margin-top: 7%;
    font-size: 3.5em;
}

.yellow-circle{
    width: 6000px;
    height: 6000px;
    border-radius: 100%;
    background-color: #cdc5b8;
    position: absolute;
    margin-top: 20%;

}

.all-lines{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin-top: 15%;
}

.line-1 p , .line-2 p , .line-3 p{
    padding: 20px;
    background-color: #313551;
    margin: 20px;
    width: 30vw;
    text-align: center;
}

.line-2{
    display: flex;
}


.line-2 p:last-child{
    margin-left: 20%;
}

.line-3{
    display: flex;
    width: 100vw;
    justify-content: center;
}

.line-3 p{
    width: 500px;
}

.line-3 p:last-child{
    margin-left: 30%;
}

.section-2{
    display: flex;
    justify-content: center;
    background-color: #cdc5b8;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.blue-circle{
    width: 6000px;
    height: 6000px;
    border-radius: 100%;
    background-color: #313551;
    position: absolute;
    top: -5400px;
}

.about-me{
    z-index: 1;
    display: flex;
    margin: 100px;
}

.psi-text{
    color: #fff;
    margin: 50px 100px;
}

.psi-text h1 {
    font-size: 4em;

}

.psi-text p {
    text-align: justify;
    font-size: 1.8em;
    margin-right: 90px;
}

.border-pic{
    border: solid 1px #fff;
    padding: 20px;
    height: 800px;
    border-radius: 20px;
}

.psi-picture{
    height: 800px;
    border-radius: 20px;
}